<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body><h1></h1>  
    <h1>  <H2 ALIGN=center>BIENVENIDOS AL MUNDO DE GATOS </H2>
    <H3> Raza de gatos:</H3>
    <H4> Edad de Gatos:</H4>


</body>

</html>