<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoe </title>

</head>
<body>
        <header>
            <div class="conteiner">
                <p class="logo">Zoe</p>
                <nav>
                    <a href="#"> Conocenos </a>
                    <a href="#"> +Contacto </a>
                    <a href="#"> inicio </a>
                </nav>
            </div>
        </header>
    <section id= "hero">
        <h1>Zoe<br> peluqueria </h1>
        <button>solicita tu turno</button>

    </section>
</body>
</html>

