<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoe</title>

</head>
<body>
        <header>
            <div class="conteiner">
                <p class="logo">Zoe</p>
                <nav>
                    <a href="#"> Conocenos </a>

                    <a href="#"> +Contacto </a>

                    <a href="#"> inicio </a>
                </nav>
            </div>
        </header>
    <section id= "hero">
        <h1>Zoe<br> peluqueria </h1>
        <button>solicita tu turno</button>

    </section>
    <section id=>
        <div class="conteiner"></div>

        <h2>Vive y Disfruta</h2>
        <img src="../public/peinados.jpg" alt="Girl in a jacket" width="400" height="300">

        <p>
            Nuestra misión es obtener la imagen deseada por nuestros clientes, 
            fortaleciendo su autoestima y logrando autoafirmación. 
            Nos caracterizamos por hacer la diferencia.
            La empatía de nuestros profesionales selectos permite
            alcanzar la mejor expresión de nuestros usuarios.
        </p>
        </div>
    </section id="SERVICIOS">

        <div class="text">
            <h3>CORTE</h3>
            <p>Tijeras, máquinas, varios filos, precisión, técnica y sobre todo un estilo único hacen fundamental el Corte en Zoe.</p>
        </div>
        <div class="text">
            <h3>COLORACIÒN</h3>
            <p> El servicio de color es un universo infinito dentro de nuestro salón.
                Te asesoramos de una manera minuciosa para poder aconsejarte sobre qué es lo que tu cabello necesita.
                Cuáles son los pasos que llevara tu pelo para llegar al objetivo que deseas.</p>
        </div>
        <div class="text">
            <h3>LAVADO</h3>
            <p> El primero de los servicios, el más importante.
                Lavarte el cabello previo a un corte o peinado y/o luego de una coloració,
                hace al inicio y/o la finalización perfecta de tu experiencia en Zoe.</p>
        </div>
        <div class="text">
            <h3>TRATAMIENTO PARA TU CABELLO</h3>
            <p>Keratina, Botx, Brillo, Hidratación, Nutrición, Reparación y Reconstrucción</p>
        </div>



    </section>
</body>
</html>

